body {
  font-family: 'Ubuntu', sans-serif;
}
#title {
  font-family: 'Lemonada', cursive;
  font-weight: 600;
  letter-spacing: 1.5rem;
  color: #8f2d56;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

#todo-list-wrapper {
  background-color: #f9f9f9;
  border: 1px solid #CDD7d6;
  padding: 2rem;
  margin-top: 1rem;
}

#new-task-content {
  margin-bottom: 1rem;
}

.task {
  margin-bottom: 1.5rem;
}

.delete {
  margin-right: 5px;
  margin-right: 1.5rem;
}

#create-task {
  margin-bottom: 15px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
  background-color: #4f5d75;
  border: none;
}

.btn-secondary  {
  background-color: #bfc0c0;
  border: none;
} 